.content {
    margin-top: 20px;
}

#about {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: var(--primary-bg);
}

.about-container {
    max-width: 751px;
    z-index: 2;
}

.selft-description {
    color: var(--desc-section);
    font-size: 22px;
    line-height: 26px;
    text-align: justify;
}

/* +========== EDUCATION ==========+ */

.education {
    max-width: 751px;
    z-index: 2;
}

.education-tittle {
    color: var(--tittle-section);
    font-size: 26px;
    margin-top: 50px;
}

.education-card-container {
    flex-wrap: wrap;
}

.card-education {
    border: 2px solid #3bacb6;
    width: 365px;
    height: 98px;
    margin-top: 20px;
    background-color: transparent;
    transition-property: background-color;
    transition-duration: 0.5s;
}

.card-education:hover {
    background-color: rgba(59, 172, 182, 0.2);
    cursor: default;
}

.card-education-tittle {
    color: #ffffff;
    font-size: 19px;
    line-height: 23px;
    margin-top: 10px;
    margin-bottom: 0;
}

.card-education-desc,
.card-education-year {
    color: #ffffff;
    font-size: 18px;
    line-height: 22px;
    margin-top: 1.5px;
    margin-bottom: 0;
}

.card-education-year {
    margin-top: 4px;
}

@media (max-width: 1280px){
    .selft-description {
        font-size: 20px;
    }
}