#hero {
    background-color: var(--primary-bg);
    height: 100vh;
}

.hero-container {
    max-width: 751px;
    z-index: 2;
}

.hero-img {
    margin: 50px auto 40px auto;
    width: 291px;
}

.name {
    font-size: 60px;
    color: #e9dac1;
}

.hero-description {
    font-size: 20px;
    color: var(--desc-section);
    line-height: 26px;
    text-align: justify;
}

.dev-tittle {
    color: #ffffff;
    font-size: 30px;
    margin-top: 6px;
}

.down {
    padding-top: 50px;
}

.btn-down {
    transform: rotate(-180deg);
    z-index: 2;
}