@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --web-primary-color: #82DBD8;
  --hover-btn: rgba(0, 135, 130, .2);
  --primary-bg: #313552;
  --secondary-bg: #272A40;
  --menu-bg: rgba(39, 42, 64, .9);
  --body-bg: #313552;
  --tittle-section: #FCF8E8;
  --desc-section: #C7CDDF;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  background-color: var(--body-bg);
}

a{
  text-decoration: none;
}

section[id]{
  scroll-margin-top: 20px; /* Evitar que el menú se "coma" parte del HTML al dar clic al menú*/
}

/* ------------------------------------------------------------------ */
/* ESTILOS MODAL MEDIOS DE CONTACTO, MODAL ANIDADO, LATERAL CONTACT, BTN UP & DOWN */

.twitter-color,
.gmail-color,
.linkedin-color,
.github-lateral-color,
.gmail-lateral-color,
.btn-up-color,
.btn-down-color{
    color: #EEE6CE;
    transition: color .2s;
    transition: transform 0.5s;
}

.twitter-color:hover,
.gmail-color:hover,
.linkedin-color:hover,
.github-lateral-color:hover,
.gmail-lateral-color:hover,
.btn-up-color:hover,
.btn-down-color:hover{
    transform: translateY(-5px);
    color: #82DBD8;
    cursor: pointer;
}

.social-svg-container{
    margin-right: 15px;
}

/* ------------------------------------------------------------------ */

.line {
  margin-left: 20px;
}

.section-title {
  color: var(--tittle-section);
  font-size: 26px;
}

.title-span {
  color: var(--web-primary-color);
}

.up {
  margin-top: 100px;
}

.btn-up {
  z-index: 2;
}

/* OCULTAR DIV PARA DISPOSITIVOS ESCRITORIO */
@media (min-width: 991px){
  .show-mobile {
    display: none;
  }
}

/* MOSTRAR ÚNICAMENTE DIV PARA DISPOSITIVOS EN MOVILES */
@media (max-width: 992px){
  section[id],
  footer[class],
  nav,
  svg{
    display: none !important;
  }

  .show-mobile {
    height: 100%;
    position: relative;
    bottom: 60px;
  }

  .mobile-content > h3 {
    color: var(--tittle-section);
    font-size: 22px;
  }

  .mobile-content > p {
    color: var(--desc-section);
    font-size: 18px;
    max-width: 250px;
    align-items: justify;
  }

  .mobile-content > img {
    padding-top: 30px;
    margin: 10px auto;
    display: block;
  }

  .mobile-content {
    width: 300px;
    height: 100%;
  }

  .show-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .show-mobile div {
    width: 250px;
    height: 100%;
  }

  .img-mobile-container {
    max-width: 250px;
    margin: 0 auto;
  }

  .mobile-cv-containter {
    padding-top: 15px;
  }
}
