#menu {
    background-color: var(--menu-bg);
}

#menu ul{
    margin-bottom: 0;
}

#menu li {
    list-style: none;
}

#menu li>a {
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 99;
}

.container-fluid {
    padding: 8px 50px;
}

.primary-navigation{
    /* padding-right: 3rem; */
}

.nav-link-span {
    font-weight: 600;
    color: var(--web-primary-color);
}

.nav-link {
    width: max-content;
    height: 40px;
    padding: 8px;
    display: block;
}

.nav-item{
    padding-right: 1.5rem;
}

#menu li>a:hover {
    color: var(--web-primary-color);
}

.bg-nav {
    background-color: var(--secondary-bg);
}

.btn-resume {
    background-color: transparent;
    border: 1px solid var(--web-primary-color) !important;
    color: var(--web-primary-color);
    padding: 8px 12px;
    font-size: 16px;
    font-weight: 400;
    transition-duration: 0.4s;
    line-height: 24px;
}

.btn-resume:hover {
    background-color: var(--hover-btn);
}