:root{
    --web-primary-color: #82DBD8;
    --hover-btn: rgba(0, 135, 130, .2);
    --primary-bg: #313552;
    --secondary-bg: #272A40;
    --body-bg: #313552;
    --tittle-section: #FCF8E8;
    --desc-section: #C7CDDF;
}